.table-container {
    margin: 20px auto;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.table-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
}

.table-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
}

table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    border-collapse: collapse;
    background-color: #1f1f1f;
    border-radius: 10px;
}

th, td {
    position: relative;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: white;
}

th::after, td::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    pointer-events: none;
}


th {
    background-color: #000000;
    color: white;
}


tr:hover td {
    background-color: #007bff;
}


a {
    color: white;
    text-decoration: none;
}



        @media (max-width: 600px) {
            th, td {
                padding: 4px;
            }
        }
