        html, body {
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #1b1b1e;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
            padding: 20px;
            box-sizing: border-box;
        }

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

        .scroll-top-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            background-color: #000000;
            color: white;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 50px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            align-items: center;
            justify-content: center;
        }

        .scroll-top-button:hover {
            background-color: #000000;
            color: #ffffff;
        }

.footer {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 12px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;
  border: 2px solid #ffffff;
}

.footer-links {
  margin-top: 10px;
}

.footer-icons {
  color: #ffffff;
  margin: 2px;
  font-size: 1.0rem;
  text-decoration: none;
}

.footer-icons:hover {
  color: #007bff;
}

.footer-text {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: '4B87327D';
}

.footer-text a {
  color: #ffffff;
  text-decoration: none;
}

.footer-text a:hover {
  color: #007bff;
}

.footer-hidden-text {
  display: none;
}

@font-face {
  font-family: '4B87327D';
  src: url('./woff2/4B87327D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@media (max-width: 600px) {

.footer-links {
  margin-top: -14px;
}

.footer-icons {
  margin: 0;
  font-size: 0.5rem;
}

.footer-text {
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.scroll-top-button {
            font-size: 25px;
            width: 25px;
            height: 25px;
}
}
