        .content-container {
            margin: 20px auto;
            padding: 24px 34px;
            background-color: #1f1f1f;
            border: 2px solid #ffffff;
            max-width: 100%;
            border-radius: 10px;
    text-align: justify; 
        }

        .frame {
            background-color: #333;
            border: 2px solid #ffffff;
            margin: 10px 0;
            padding: 15px;
            border-radius: 10px;
        }

        .frame h2 {
            text-align: left;
            font-size: 18px;
            color: #eee;
            margin: 0;
            margin-bottom: -10px;
        }

        .frame p {
            line-height: 1.4;
            margin-bottom: 0;
        }

        .frame strong {
            font-weight: bold;
        }

        a {
            color: #1e90ff;
            text-decoration: none;
        }

        .prompt-tip, .prompt-danger, .prompt-info {
            background-color: #222;
            padding: 5px 15px;
            margin: 10px auto;
            font-size: 1rem;
            color: white;
            max-width: 100%;
            width: 100%;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .prompt-tip {
            background-color: #263238;
            border-left-color: #4caf50;
            border: 2px solid #4caf50;
        }

        .prompt-danger {
            background-color: #3e2723;
            border-left-color: #e53935;
            border: 2px solid #e53935;
        }

        .prompt-info {
            background-color: #1e3a5f;
            border-left-color: #42a5f5;
            border: 2px solid #42a5f5;
text-align: start;
        }

.video-container {
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}
.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}



        @media (max-width: 600px) {
        .content-container {
            padding: 7px 17px;
        }


        .frame {
            font-size: 10px;
        }

        .frame h2 {
            font-size: 10px;
            margin-bottom: -8px;
        }

        .frame p {
            line-height: 1.2;
        }

        .frame strong {
            font-weight: bold;
        }

        .prompt-tip, .prompt-danger, .prompt-info {
            padding: 0 15px;
        }
}
