        .content-container {
            margin: 20px auto;
            padding: 24px 34px;
            background-color: #1f1f1f;
            border: 3px solid #444;
            max-width: 100%;
            border-radius: 10px;
        }

        .middle-image-container {
            margin: 20px auto;
            padding: 34px 34px 30px 34px;
            background-color: #1f1f1f;
            border: 2px solid #ffffff;
            max-width: 100%;
            text-align: center;
            border-radius: 10px;
        }

        .middle-image-container img {
            max-width: 100%;
            height: auto;
            display: none;
        }

        .giscus {
            margin-top: 24px;
        }

        .toggle-button {
            background: none;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 40px;
            margin-top: -18px;
            margin-bottom: -6px;
        }

        .toggle-button-expanded {
            margin-bottom: 14px;
        }

        .toggle-button:hover {
            color: #ffffff;
        }

